@import "/mon-projet-2/sass/utils/mixins";
@import "/mon-projet-2/sass/utils/variables";
@import "/mon-projet-2/sass/utils/responsives";
* {
    font-family: 'kalam', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'devonshire', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* l'entête*/

header {
    background-color: $color-primary;
    text-align: center;
    padding: 2rem;
    h1 {
        color: $color-secondary;
        font-size: 3rem;
        font-family: sans-serif;
        cursor: pointer;
    }
}


/*le sur-titre*/

.subtitle {
    font-size: 2rem;
    font-family: fantasy;
    justify-content: center;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


/*la page principale*/

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 50px;
}


/*les 4 cartes*/

.menu {
    width: 30rem;
    margin-bottom: 2rem;
    text-align: center;
    -webkit-box-shadow: $menu;
    -moz-box-shadow: $menu;
    box-shadow: $menu;
}

.btn {
    border-radius: 10rem;
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    transition: all 450ms;
    &:hover {
        transform: scale(1.13);
    }
}

a {
    text-decoration: none;
    font-family: normal;
    color: $color-secondary;
}


/*la couleur des cartes*/

.part_1 {
    @include part;
    background: $color;
}

.part_2 {
    @include part;
    background-color: $color-part_2;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.part_3 {
    @include part;
    background-color: $color-part_3;
}

.part_4 {
    @include part;
    background-color: $color-part_4;
}


/* titre des "menu" des cartes */

h3 {
    font-family: cursive;
    color: #5f2e34;
    font-style: oblique;
}

.h3_menu2 {
    color: #cb802f;
    font-family: auto;
    font-style: normal;
}

.h3_menu3 {
    color: #0887fb;
    font-family: 'Kalam';
    font-style: normal;
}

.h3_menu4 {
    color: #72bf56;
    font-family: 'kalam';
    font-style: normal;
}


/* les images*/

.img-1 {
    width: 20%
}

.note1 {
    width: 7%;
    height: 10%;
}


/*footer*/

.adresse {
    display: flex;
    justify-content: space-between;
    background: $color-primary;
    padding: 2rem;
    font-size: 1.5rem;
}


/*animations mentions et contact*/

.Mentions {
    @include effet-wiggle;
}

.contact {
    @include effet-wiggle;
}


/*animations prochainement*/

.loading {
    border: 1rem solid $color-primary;
    text-align: center;
    border-radius: 1rem;
    margin: 0 30rem 2rem 30rem;
    font-size: 2rem;
    background: $color-primary;
    color: $color-secondary;
    display: flex;
    justify-content: space-evenly;
    font-family: normal;
}

.load {
    width: 10px;
    height: 10px;
    margin-top: 15px;
    background-color: $color-secondary;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes ball {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

.loading_ball1 {
    animation-delay: 600ms;
}

.loading_ball2 {
    animation-delay: 800ms;
}

.loading_ball3 {
    animation-delay: 1000ms;
}


/* l'agencement 4 autres pages*/

@include main-1 {
    background-color: $color-part_2;
    padding: 2rem 4rem 2rem 4rem;
}

@include main-2 {
    background-color: $color-part_3;
    padding: 2rem 5rem 2rem 5rem;
}

@include main-3 {
    background-color: $color-part_4;
    padding: 2rem 5rem 2rem 5rem;
}


/* menu des 4 pages*/

@include carte-2 {
    color: #c97e26;
}

@include carte-3 {
    color: #a96da0;
}

.carte-4-4 {
    font-weight: 100;
    font-size: 1.3rem;
}

.carte-price {
    padding-left: 5rem;
    padding-right: 5rem;
}


/* titre debut et fin de la page note enchantée*/

.start {
    text-align: center;
}

.end {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}


/* titre principal des 4 pages*/

h2 {
    color: #5f2e34;
    padding-bottom: 3rem;
    font-family: 'devonshire';
    font-size: 3rem;
    &.h2_menu2 {
        background: linear-gradient(135deg, rgb(204, 129, 49) 0%, rgb(179, 127, 207) 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &.h2_menu3 {
        font-family: 'Dancing Script';
        font-style: italic;
        font-weight: 400;
        background: linear-gradient(135deg, #3964e8 50%, #abcbf7 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &.h2_menu4 {
        background: linear-gradient(135deg, #499c40 0%, #c3ff8b 90%);
        font-family: 'kalam';
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.main-menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    align-items: center;
}


/* animations titre des menus des 4 pages*/

.title-1 {
    @include line;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    color: #5f2e34;
}

.title-2 {
    @include line;
    background: linear-gradient(to top, #ca805a 0%, #CA805a 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    color: #c97e26;
    font-style: normal;
}

.title-3 {
    @include line;
    background: linear-gradient(to top, #a96da0 0%, #a96da0 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    color: #a96da0;
    font-style: normal;
}

.title-4 {
    @include line;
    background: linear-gradient(to top, #7556cf 0%, #7556cf 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    color: #7556cf;
    font-style: normal;
}

.title-5 {
    @include line;
    color: black;
    font-style: normal;
    font-weight: 100;
    font-family: 'kalam';
    background: linear-gradient(to top, #1a3ede 0%, #1a3ede 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.title-6 {
    @include line;
    color: black;
    font-style: normal;
    font-weight: 100;
    font-family: 'kalam';
    background: linear-gradient(to top, #1d7ff4 0%, #1d7ff4 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.title-7 {
    @include line;
    color: black;
    font-style: normal;
    font-weight: 100;
    font-family: 'kalam';
    background: linear-gradient(to top, #2a9ffb 0%, #2a9ffb 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.title-8 {
    @include line;
    background: linear-gradient(to top, rgba(73, 156, 64, 1) 0%, rgba(73, 156, 64, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-color: black;
}


/* la fin des 4 pages*/

.finally {
    line-height: 2rem;
    padding-left: 5rem;
    &.finally-2 {
        color: #7556cf;
    }
}

.price {
    font-size: 1.5rem;
}


/*media queries*/

@media (min-width: 2560px) and (max-width: 4000px) {
    @include big-screen;
}

@media (min-width: 538px) and (max-width: 1024px) {
    @include laptop;
}

@media (min-width: 538px) and (max-width: 768px) {
    @include tablet;
}

@media (min-width: 320px) and (max-width: 538px) {
    @include mobile;
}