@mixin part {
    padding-bottom: 15rem;
    padding-top: 15rem;
    height: 100%;
}

@mixin line {
    text-decoration: none;
    transition: background-size .5s;
    padding-bottom: 5px;
    font-size: 1.5rem;
    a: hover;
    -webkit-transition: background-size .5s;
    -moz-transition: background-size .5s;
    -ms-transition: background-size .5s;
    -o-transition: background-size .5s;
}

@mixin main {
    background-color: #fbdcdb;
    padding: 2rem 5rem 2rem 5rem;
    margin: 0 10rem 5rem 10rem;
}

@mixin carte {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

@mixin effet-wiggle {
     :hover {
        animation: wiggle 0.82s cubic-bezier(.36, .07, .19, .97);
        transform: translate3d(0, 0, 0);
        -webkit-animation: wiggle 0.82s cubic-bezier(.36, .07, .19, .97);
    }
    @keyframes wiggle {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}